@import url('https://fonts.googleapis.com/css?family=Roboto|Alfa+Slab+One&display=swap');

html {
    visibility: hidden;
}

body {
    display: flex;
    min-height: 100vh!important;
    flex-direction: column;
    font-family: 'Roboto', sans-serif!important;
    font-size: 1rem;
}

.content {
    flex: 1 0 auto;
}

.container {
    width: 90%;
}


/*.................................Index*/

.index_header {
    font-family: 'Alfa Slab One', cursive;
    color: #524c4c;
    text-align: center;
    font-size: 2.5rem;
}

.discover_all_btn {
    margin: 0px auto;
    display: table;
    border-radius: 10px;
    background-color: #b3b2b2;
    text-align: center;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    padding: 10px!important;
}

.discover_all_btn:hover {
    background-color: #6e787f;
}

@media (max-width: 720px) {
    .discover_all_btn {
        font-size: 1rem;
        padding: 3px!important;
        line-height: 1.5;
    }
}

.add_row {
    position: relative;
}

.preferite_btn {
    position: absolute;
    z-index: 1;
    top: 0.5rem;
    right: 0.5rem;
    color: red;
    font-size: 2rem;
}

.add_to_visit_btn {
    position: absolute;
    z-index: 1;
    top: 0.5rem;
    right: 3rem;
    color: red;
    font-size: 2rem;
}

.add_visited_btn {
    position: absolute;
    z-index: 1;
    top: 0.5rem;
    right: 5rem;
    color: red;
    font-size: 2rem;
}

/* ................................ NAVBAR */

nav {
    color: #000;
    background-color: #ffffff;
}

nav ul a {
    color: black;
}

nav a {
    color: black;
}

.logo_image {
    max-width: 180px;
}


@media (min-width: 601px) {
    .logo_image {
        height: auto;
        max-width: 250px;
        max-height: 64px;
        margin: auto;
    }
}

nav .brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#search_form {
    display: none;
}

.search_box {
    display: inline-flex;
    border: none!important;
}

.search_row {
    display: inline-flex;
}

.search_form {
    display: inline-flex;
}

.search_box {
    padding-left: 5px;
    height: -webkit-fill-available;
}

#search {
    width: 75%;
}

.btn_search {
    width: 100%;
}

.btn,
.btn-large,
.btn-flat {
    padding: 0px;
}

#search_box_icon {
    line-height: inherit;
}

.user_page_header {
    padding-right: 32px;
    padding-left: 32px;
}

.mob_nav_socials {
    display: inline-flex;
}

.icon_mob_nav {
    padding: 5px!important;
}

.mobile_search_box {
    margin: 0 auto;
    width: 80%;
}

.search_mobile {
    display: inline-flex;
    width: 100%;
    padding-top: 20px;
}

.btn_search_mobile {
    width: 25%;
}

/*..........................................Add city page */

h3 {
    text-align: center;
}

materialize-textarea {
    padding: 0px;
}

.input-field {
    margin: 0px;
    padding: 25px!important;
    left: 1.5px;
    right: 1.5rem;
}

@media (min-width: 920px) {
    .input-field {
        max-width: 70%
    }
}

@media (min-width: 920px) {
    .input_description {
        max-width: 98%
    }
}

/*..........................................Card Style  */

.img_card {
    display: block;
    max-width: 100%;
    max-height: 250px;
    height: -webkit-fill-available!important;
}

.city_card_title {
    background-color: #a9a9a987;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    max-height: 40%;
    line-height: 0.9;
}

.card_col :hover {
    font-weight: 800;
}

.card_style {
    max-height: 250px;
    padding: 10px;
}

.card_container {
    display: flex!important;
    height: 100%;
    margin-right: 20px;
    margin-left: 20px;
}

.card .card-image {
    height: 100%;
    box-shadow: 0 0 8px 0px;
}


@media (max-width: 720px) {
    .card .card-image img {
        max-height: 200px;
    }
}

@media (max-width: 440px) {
    .card .card-image img {
        max-height: 150px;
    }

}

.edit_btn_row {
    position: absolute;
}

.clearfix {
    clear: both;
}

.card {
    width: 100%;
    height: 100%;
}


.card_col {
    padding: 10px!important;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 720px) {
    .card_col {
        padding: 5px!important;
    }
}

@media (max-width: 450px) {
    .card .card-image .card-title {
        padding: 14px;
    }
}

/*..........................................Carousel*/

.carousel_container {
    max-width: 60%;
    max-height: 450px;
    margin: auto;
    left: 0;
    right: 0;

}


/*........................................Add City/Edit City*/

.select_country {
    padding-bottom: 25px!important;
}


/*....................................................Signup/Login*/

.content_login {
    padding: 40px 0 40px;
}

.login_area {
    margin: auto;
    background-color: #f5f5f5;
    border-radius: 20px;
    border: 2px solid #00000052;
    text-align: center;
}

.login_row {
    padding: 2.5rem;
}

.login_form {
    padding: 20px 0;
    margin: auto;
    width: 30%;
    text-align: center;
}

@media (max-width: 720px) {
    .login_form {
        width: 80%;
        padding: 20px;
    }
}


.error_login {
    border: 5px solid #f44336;
}

/*..................................................Footer*/

.page-footer {
    background-color: #6e787f;
}

.icon_footer {
    font-size: 1.8rem;
    padding: 10px;
}

.icon_footer:hover {
    color: #fafafa;
    border: 3px solid;
    border-radius: 25px;
    background-color: #484545;
}

/*..............................................Icons & general personal style*/

.fab {
    padding: 5px;
}

.btn_personal {
    padding: 10px;
    line-height: normal;
}

/*...........................................Cities for region page*/

.row_card {
    width: 100%
}

/*............................................City Page*/

.info_title {
    text-align: center;
}

.img_city_page {
    width: 100%;
    border-radius: 10px;
}

.info_header {
    text-align: center;
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 500;
}

.info_title {
    font-family: 'Alfa Slab One', cursive;
    color: #524c4c;
    text-align: center;
    font-size: 1.5rem;
}

.info_body {
    padding-left: 4rem;
}

.description_body {
    width: 85%;
    margin: 0px auto;
}

.items {
    list-style-type: disc!important;
}

.content_body {
    padding: 10px;
    margin: 0px auto;
}

.info_paragraph {
    padding-left: 1.5rem;
}

.edit_btn_float_right {
    float: right;
}

.edit_btn_float_left {
    float: left;
}

/*............................................Search Page*/

.search_page {
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
}

/*..........................................Admin Page*/

td,
th {
    padding: 5px!important;
}


.btn_right {
    display: list-item;
}

.change_user_right {
    width: 50%;
    margin: auto;
}

/*..................................................User Page*/

.user_nav {
    width: 25%;
    text-align: center;
    text-transform: uppercase;
    padding: 0px!important;
}

.nav_userpage {
    height: auto!important;
}

.row_user_nav {
    margin: 0!important;

}

#to_visit {
    display: none;
}

#visited {
    display: none;
}

#preferite {
    display: none;
}

.made_selected {
    background-color: rgba(226, 224, 224, 0.87);
}

.visited_selected {
    background-color: rgba(226, 224, 224, 0.87);
}

.to_visit_selected {
    background-color: rgba(226, 224, 224, 0.87);
}

.preferite_selected {
    background-color: rgba(226, 224, 224, 0.87);
}
