body {
    display: flex;
    min-height: 100vh!important;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}


/* ................................ NAVBAR */

nav {
    color: #000;
    background-color: #ffffff;
}

nav ul a {
    color: black;
}

nav a {
    color: black;
}

.logo_image {
    max-width: 180px;
}


@media (min-width: 601px) {
    .logo_image {
        height: auto;
        max-width: 250px;
        max-height: 64px;
        margin: auto;
    }
}

nav .brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#search_form {
    display: none;
}

.search_box {
    border: 0.5px solid;
    padding-left: 5px;
}

#search {
    width: 75%;
}

.btn_search {
    width: 20%;
}

.btn,
.btn-large,
.btn-flat {
    padding: 0px;
}

#search_box_icon {
    line-height: inherit;
}

.user_page_header {
    padding-right: 32px;
    padding-left: 32px;
}

.mob_nav_socials {
    display: inline-flex;
}

.icon_mob_nav {
    padding: 5px!important;
}


/*..........................................Add city page */

h3 {
    text-align: center;
}

materialize-textarea {
    padding: 0px;
}

.input-field {
    margin: 0px;
}

/*..........................................Card Style  */

.img_card {
    display: block;
    max-width: 100%;
    max-height: 250px;
    height: -webkit-fill-available!important;
}

.city_card_title {
    background-color: #a9a9a987;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.card_col :hover {
    font-weight: 800;
}

.card_style {
    max-height: 250px;
    padding: 10px;
}

.card_container {
    display: flex!important;
    height: 100%;
    margin-right: 20px;
    margin-left: 20px;
}

.card .card-image {
    height: 100%;
    box-shadow: 0 0 8px 0px;
}


@media (max-width: 720px) {
    .card .card-image img {
        max-height: 200px;
    }
}

@media (max-width: 440px) {
    .card .card-image img {
        max-height: 150px;
    }

}


.clearfix {
    clear: both;
}

.card {
    width: 100%;
    height: 100%;
}

.card_col {
    padding: 10px!important;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 720px) {
    .card_col {
        padding: 5px!important;
    }
}

/*..........................................Carousel*/

.img_carousel {
    min-height: 250px;
    min-width: 300px;
}

.carousel .carousel-item>img {
    padding-top: 20px;
}

.img_city_page {
    width: 100%;
    padding: 20px;
}

.row_city_page_img {
    display: flex;
}

.card .card-image .card-title {
    padding: 15px!important;
}

/*........................................Add City/Edit City*/

.select_country {
    padding-bottom: 25px!important;
}

.input-field {
    padding-bottom: 20px!important;
}


/*....................................................Signup/Login*/

.content_login {
    padding: 40px 0 40px;
}

.login_row {
    max-width: 400px;
    max-height: 500px;
    margin: auto;
    background-color: #f5f5f5;
    border-radius: 20px;
    border: 2px solid #00000052;
    text-align: center;
}

.login_form {
    padding: 70px 0;
    margin: auto;
    width: 50%;
    text-align: center;
}

/*..................................................Footer*/

.page-footer {
    background-color: #6e787f;
}

/*..............................................Icon personal style*/

.fab {
    padding: 5px;

}
