/*..........................................404 Page........................*/
.not_found_error_img {
    width: 100%;
}


.not_found_error_div {
    padding-top: 25px;
}

.not_found_error_row {
    overflow: hidden;
}


.error_page_text_div {
    margin: auto;
}