/*..........................................Admin Page*/

td,
th {
    padding: 5px!important;
}

.manage_users {
    margin-bottom: 2rem;
}

.btn_right {
    display: list-item;
}

.change_user_right {
    width: 50%;
    margin: auto;
}