/*..........................................Footer  */

.page-footer {
    background-color: #6e787f;
}

.icon_footer {
    font-size: 1.8rem;
    padding: 10px;
}

.icon_footer:hover {
    color: #fafafa;
    border: 3px solid;
    border-radius: 25px;
    background-color: #484545;
}