/*..........................................User List Page  ...................*/


.user_icon_img {
    width: 100%;
    min-width: 80px;
    height: auto;
    border-radius: 25%;
    margin: auto;
}

.username_card {}

.user_card {
    padding: 15px!important;
    text-align: center;
}

.user_card_title {
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
}