{% extends 'base.html' %} {% block content %}

{% if session['logged_in'] == False or session.username != 'admin' %}
<h3>We are sorry, but only Travel Around admins can manage users info.</h3>

{% else %}

<div class="user_page_header">
    <div class="row">
        <div class="">
            <h3>This page is reserved to the admin of Travel Around.</h3>
        </div>
    </div>
</div>
<div>
    <h5>Here you can manage the users.</h5>
</div>

<div class="col s12">
    <div class="row">
        <table class="highlight centered">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Users Right</th>
                    <th>Users email</th>
                    <th>Cities Created</th>
                </tr>
            </thead>
            <tbody>
                {%for user in users %}
                <tr>
                    <td><a href="{{url_for('userpublicpage', user_id=user._id)}}">{{user.username}}</a></td>
                    <td>{{user.right}}
                        <a href="{{url_for('user_rights', user_id=user._id)}}" class="waves-effect waves-light btn modal-trigger btn_personal" >Change User Right</a>
                    </td>
                    <td>{{user.email}}</td>
                    <td>{{count_cities}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{%endif%}
{% endblock%}
