{% extends 'base.html' %} {% block content %}

{% if session['logged_in'] == False or user_logged.right != 'admin' %}

<h3 class="index_header">We are sorry, but only Travel Around admins can manage users info.</h3>

{% else %}

<div class="user_page_header">
    <div class="row">
        <div>
            <h3 class="index_header">Admin Settings Area</h3>
        </div>
    </div>
</div>
<div class="manage_users">
    <h5 class="info_header">Registered Users</h5>
</div>

<div class="col s12">
    <div class="row">
        <table class="highlight centered">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Users Right</th>
                    <th>Users email</th>
                </tr>
            </thead>
            <tbody>
                {%for user in users|sort(attribute='username') %}
                <tr>
                    <td><a href="{{url_for('userpublicpage', user_id=user._id)}}">{{user.username}}</a></td>
                    <td>{{user.right}}
                        <a href="{{url_for('user_rights', user_id=user._id)}}" class="waves-effect waves-light btn red modal-trigger btn_right" >Change</a>
                    </td>
                    <td>{{user.email}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{%endif%}
{% endblock%}
