<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel Around</title>

    <!-- Stylesheet -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!--FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!--Custom  Stylesheet -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
    <!-- Page Header -->
    <header>
        <nav>
            <div class="nav-wrapper">
                <!-- Desktop Nav-->
                <ul class="left hide-on-med-and-down">
                    <li><a href="{{ url_for ('index')}}" class="tooltipped" data-position="bottom" data-tooltip="Home"><i class="material-icons">home</i></a> </li>
                    {%if session['logged_in'] and session.username == 'admin'%}
                    <li><a href="{{ url_for ('admin_settings')}}" class="tooltipped" data-position="bottom" data-tooltip="Settings"><i class="material-icons">settings</i></a> </li>
                    {%endif%}
                </ul>

                <a href="{{ url_for ('index')}}" class="brand-logo"><img src="{{ url_for('static', filename='img/logo.png') }}" class="logo_image"></img></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">


                    {% if session['logged_in'] == True %}
                    <li><a href="{{url_for('add_city')}}" class="tooltipped" data-position="bottom" data-tooltip="Add a City"><i class="material-icons">add_box</i></a></li>
                    <li><a href="{{url_for('user_page')}}" class="tooltipped" data-position="bottom" data-tooltip="User Page"><i class="material-icons">account_circle</i></a> </li>
                    <li><a href="{{url_for('logout')}}" class="tooltipped" data-position="bottom" data-tooltip="Log Out"><i class="material-icons">power_settings_new</i></a> </li>
                    {%else%}
                    <li><a href="{{url_for('login_page')}}" class="tooltipped" data-position="bottom" data-tooltip="Log In"><i class="material-icons">person</i></a></li>
                    <li><a href="{{url_for('register')}}" class="tooltipped" data-position="bottom" data-tooltip="Register"><i class="material-icons">person_add</i></a></li>
                    {%endif%}
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a id="search_icon"><i class="material-icons">search</i></a></li>
                    <div id="search_form" class="row">
                        <form action="{{url_for('search_city')}}" class="col s12" method="POST">
                            <div class="search_box" class="row">
                                <div class="input-field">
                                    <input id="search_city" name="search_city" type="tel" class="validate" required>
                                    <button class="btn waves-effect waves-light btn_search" type="submit" name="action"><i id="search_box_icon" class="material-icons">search</i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </ul>

                <!-- Mobile Navbar-->
                <div class="side-nav" id="mobile-demo">
                    <div class="search_box" class="row">
                        <div class="input-field">
                            <input placeholder="Search a city" id="search" type="text" class="searchForm validate">
                            <button class="btn waves-effect waves-light btn_search" type="submit" name="action"><i id="search_box_icon" class="material-icons">search</i></button>
                        </div>
                    </div>
                    <ul>
                        <li><a href="{{ url_for ('index')}}"><i class="material-icons">home</i> Home</a></li>
                        {% if session['logged_in'] == True %}
                        <li><a href="{{ url_for ('add_city')}}"><i class="material-icons">add_box</i> Add a City </a></a>
                        </li>
                        <li><a href="{{ url_for ('user_page')}}"><i class="material-icons">account_circle</i> User Page</a></li>
                        <li><a href="{{url_for('logout')}}"><i class="material-icons">power_settings_new</i> Log Out</a></li>
                        {%else%}
                        <li><a href="{{url_for('login_page')}}"><i class="material-icons">person</i> Log In</a></li>
                        <li><a href="{{url_for('register')}}"><i class="material-icons">person_add</i> Register</a></li>
                        {%endif%}
                    </ul>
                    <div class="user_page_header">
                        <div>
                            <p>Socials:</p>
                        </div>
                        <ul class="mob_nav_socials">
                            <li class="social_li"><a class="icon_mob_nav" href="#!"><i class="fab fa-facebook-f "></i></a></li>
                            <li class="social_li"><a class="icon_mob_nav" href="#!"><i class="fab fa-instagram "></i></a></li>
                            <li class="social_li"><a class="icon_mob_nav" href="#!"><i class="fab fa-pinterest "></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </nav>
    </header>

    <div class="content">
        <!-- Main Content -->
        <div class="container">

            {% block content %} {% endblock %}

        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer">
        <div class="container">
            <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo_image">
            </a>
            <div class="row">
                <div class="col l6 s12">
                    <p>Travel Around is a community of travellers who share the same love, Travels. Please if you find a place and would like to let everyone know about, share it with us! It is all free and you can help to build this big communit.</p>
                    <ul class="mob_nav_socials">
                        <li><a class="grey-text text-lighten-3 icon_footer" href="https://github.com/gello94"><i class="fab fa-github"></i></a></li>
                        <li><a class="grey-text text-lighten-3 icon_footer" href="https://www.linkedin.com/in/antonio-augello-aba83911a/"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Socials</h5>
                    <div class="user_page_header">
                        <ul class="mob_nav_socials">
                            <li><a class="grey-text text-lighten-3 icon_footer" href=""><i class="fab fa-facebook-f "></i></a></li>
                            <li><a class="grey-text text-lighten-3 icon_footer" href="#!"><i class="fab fa-instagram "></i></a></li>
                            <li><a class="grey-text text-lighten-3 icon_footer" href="#!"><i class="fab fa-pinterest "></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Antonio Augello. Web Site build for Code Institute as Data Centric Development Milestone Project
                <a class="grey-text text-lighten-4 right" href="#">Top</a>
            </div>
        </div>
    </footer>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!-- Personal Scripts-->
    <script src="{{url_for('static', filename='js/custom.js')}}"></script>


</body>

</html>
