{% extends 'base.html' %} {% block content %}

<!-- Content -->
<div class="clearfix ">
    <div class="row ">
        <div>
            {%for region in regions%} {% if region.region_name == city_region %}
            <p class="index_header">Discover all {{city_region}} Cities</p>
            <div class="card_container ">
                <div class="row row_card">
                    {%for city in cities%} {%if city.city_region == city_region%}
                    <div class="col s6 m4 l3 card_col ">
                        <div class="card ">
                            <div class="card-image waves-effect waves-block waves-light ">
                                <img class="activator img_card " src="{{city.city_image}} ">
                                <a href="{{url_for( 'city_page', city_id=city._id)}} "> <span class="card-title city_card_title ">{{city.city_name}}</span></a>
                            </div>
                        </div>
                    </div>
                    {%endif%} {%endfor%}
                </div>
            </div>
            {%endif%}{%endfor%}
        </div>
    </div>
</div>

{% endblock %}
