{% extends 'base.html' %} {% block content %}
<h1>{{cities.city_name|capitalize}}</h1>

<!-- Header -->
<div class="row">
    <div>
        <div class="col s12 m8">
            <img class="img_city_page" src="{{cities.city_image}}" alt="{{cities.city_name}}">
        </div>
        <!-- Adise Table -->
        <div class="col s12 m4">
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>City Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Region</th>
                            <td>{{cities.city_region|capitalize}}</td>
                        </tr>
                        <tr>
                            <th>Country</th>
                            <td>{{cities.city_country|capitalize}}</td>
                        </tr>
                        <tr>
                            <th>Population</th>
                            <td>{{cities.city_population}}</td>
                        </tr>
                        <tr>
                            <th>Category</th>
                            <td>{{cities.city_category|capitalize}}</td>
                        </tr>
                        <tr>
                            <th>Language</th>
                            <td>{{cities.city_language|capitalize}}</td>
                        </tr>
                        <tr>
                            <th>Author</th>
                            <td>{{cities.city_author}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Content-->
<div class="row">
    <div class="col s12 m6 l3">
        <div class="info_header">
            <p class="info_title">City Info</p>
        </div>
        <div class="">
            <p class="">{{cities.city_description}}</p>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="info_header">
            <p class="info_title">City Must See</p>
        </div>
        <div class="info_body">
            <ul>
                {%for item in city.city_must_see%}
                <li class="items">{{item}}</li>
                {%endfor%}
            </ul>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="info_header">
            <p class="info_title">City Tips</p>
        </div>
        <div class="info_body">
            <ul class="">
                {%for item in city.city_tips%}
                <li class="items">{{item}}</li>
                {%endfor%}
            </ul>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="info_header">
            <p class="info_title">To Avoid</p>
        </div>
        <div class="info_body">
            <ul class="">
                {%for item in city.city_to_avoid%}
                <li class="items">{{item}}</li>
                {%endfor%}
            </ul>
        </div>
    </div>
</div>

<div>
    {% if session['logged_in']%}
    <a href="{{url_for('edit_city', city_id=city._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a> 
    {%if session.username == 'admin'%}
    <a href="{{url_for('delete_city', city_id=city._id)}}" class="waves-effect waves-light btn btn_small">Delete</a>
    {%endif%} {%endif%}
</div>


<!-- Modal Cancel City-->
<div class="modal fade " id="resetGameModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content resetModal">
            <div class="modal-header resetModalHeader centeredContent">
                <h5 class="modal-title resetModalTitle">Are you sure you want to reset the game?</h5>
            </div>
            <div class="modal-body">
                <p>Clicking on Reset all the progress will be lost.</p>
                <button type="button" class="btn btn-secondary backResetBtn" data-dismiss="modal">Go Back</button>
                <button class="btn btn-secondary confirmResetBtn" type="button" id="resetBtn" data-dismiss="modal" onclick="dataReset(); successAlert();">Reset</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
