{% extends 'base.html' %} {% block content %}
<h3>Edit City</h3>

<div class="row">
    <!-- Edit City Form-->
    <form action="{{ url_for('update_city', city_id=city._id) }}" method="POST">
        <div class="row">
            <!--First input row-->
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">subject</i>
                    <textarea name="city_name" id="city_name" class="materialize-textarea">{{city.city_name}}</textarea>
                    <label for="icon_telephone">City's Name</label>
                </div>
                <div class="col s12 m6 select_country">
                    <label>Country</label>
                    <select name="city_country" id="city_country" method="POST">
                  <option value="{{city.city_country}}" selected>{{city.city_country}}</option>
                      {% for name in country %}
                           {% if name.name == city.name %}
                              <option value="{{name.name}}" selected>{{name.name}}</option>
                              {%else%}
                              <option value="{{name.name}}">{{name.name}}</option>
                          {%endif%}
                      {%endfor%}
                 </select>
                </div>
            </div>
            <!--Second input row-->
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">subject</i>
                    <textarea name="city_population" id="city_population" class="materialize-textarea">{{city.city_population}}</textarea>
                    <label for="icon_telephone">Population</label>
                </div>
                <div class="col s12 m6 select_country">
                    <label>Region</label>
                    <select name="city_region" id="city_region" method="POST">
                  <option value="{{city.city_region}}" selected>{{city.city_region}}</option>
                        {% for region in regions %}
                           {% if region.region_name == city.region_name %}
                              <option value="{{region.region_name}}" selected>{{region.region_name}}</option>
                              {%else%}
                              <option value="{{region.region_name}}">{{region.region_name}}</option>
                          {%endif%}
                      {%endfor%}
                 </select>
                </div>
            </div>
            <!--Third input row-->
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">subject</i>
                    <textarea name="city_language" id="city_language" class="materialize-textarea">{{city.city_language}}</textarea>
                    <label for="icon_telephone">Language</label>
                </div>
                <div class="select_country col s12 m6">
                    <label>Select Category</label>
                    <select name="city_category" id="city_category" method="POST" required>
                  <option value="{{city.city_category}}" selected>{{city.city_category}}</option>
                  <option value="city break">City Break</option>
                  <option value="week end">Week End</option>
                  <option value="Long Stay">Long Stay</option>
                  <option value="Romantic">Romantic</option>
                  <option value="Historical">Historical</option>
                  <option value="Historical">Summer Break</option>
                  <option value="Historical">Religious</option>
                  <option value="Historical">Winter Break</option>
             </select>
                </div>
            </div>
            <!--Fourth input row-->
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">subject</i>
                    <textarea name="city_image" id="city_image" class="materialize-textarea">{{city.city_image}}</textarea>
                    <label for="icon_telephone">Attach Url here</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">subject</i>
                    <textarea name="city_author" id="city_author" class="materialize-textarea">{{city.city_author}}</textarea>
                    <label for="icon_telephone">Author</label>
                </div>
            </div>
            <!--Fifth input row-->
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">subject</i>
                    <textarea name="added_time" id="added_time" class="materialize-textarea">{{city.added_time}}</textarea>
                    <label for="icon_telephone">Date</label>
                </div>
            </div>
        </div>
        <!--City info input-->
        <div class="input_forms">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">subject</i>
                    <textarea name="city_description" id="city_description" class="materialize-textarea">{{city.city_description}}</textarea>
                    <label for="icon_telephone">Description</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">subject</i> {%for item in city.city_must_see%}
                    <textarea name="city_must_see" id="city_must_see" class="materialize-textarea">{{item}}</textarea> {%endfor%}
                    <label for="icon_telephone">Must see</label>
                    <a id="add_new_must_see" class="btn-floating btn-small waves-effect waves-light red tooltipped" data-position="bottom" data-tooltip="Add another Must See" onClick="addMustSee();"><i class="material-icons">add</i></a>
                    <a id="remove_must_see" class="btn-floating btn-small waves-effect waves-light red tooltipped" data-position="bottom" data-tooltip="Remove Must See" onClick="removeMustSee();"><i class="material-icons">remove</i></a>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">subject</i> {%for item in city.city_tips%}
                    <textarea name="city_tips" id="city_tips" class="materialize-textarea">{{items}}</textarea> {%endfor%}
                    <label for="icon_telephone">City Tips</label>
                    <a id="add_new_tips" class="btn-floating btn-small waves-effect waves-light red tooltipped" onClick="addTips();" data-position="bottom" data-tooltip="Add another Tip"><i class="material-icons">add</i></a>
                    <a id="remove_tip" class="btn-floating btn-small waves-effect waves-light red tooltipped" data-position="bottom" data-tooltip="Remove Tips" onClick="removeTips();"><i class="material-icons">remove</i></a>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">subject</i> {%for item in city.city_to_avoid%}
                    <textarea name="city_to_avoid" id="city_to_avoid" class="materialize-textarea">{{items}}</textarea> {%endfor%}
                    <label for="icon_telephone">To Avoid</label>
                    <a id="add_new_to_avoid" class="btn-floating btn-small waves-effect waves-light red tooltipped" onClick="addToAvoid();" data-position="bottom" data-tooltip="Add another Tip"><i class="material-icons">add</i></a>
                    <a id="remove_to_avoid" class="btn-floating btn-small waves-effect waves-light red tooltipped" onClick="removeToAvoid();" data-position=" bottom " data-tooltip="Remove Tips"><i class="material-icons">remove</i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="edit_btn_row">
                <button class="btn waves-effect waves-light btn_personal" type="submit" name="action">Submit
                <i class="material-icons right">playlist_add</i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
