{% extends 'base.html' %} {% block content %} {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endwith %}

<!-- Carousel -->
<div class="row">
    <div class="carousel">
        <h2>Best cities to go</h2>
        {%for images in cities_carousel %} {%if url_image == url %}
        <a class="carousel-item img_carousel" href=""><img src="{{images.city_image}}"></a> {%endif%} {%endfor%}
    </div>
</div>


<!-- testing-->
<div>
    <div class="col s12">
        {% for region in json_file_region%}
        <div class="row">
            {%for city in cities%} {%if city.city_region == regions.region_name%}
            <div class="col s6 m4 l3 ">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{city.city_image}}">
                    <span class="card-title">{{city.city_name}}</span>
                    <i class="material-icons">expand_more</i>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{city.city_name}}<i class="material-icons right">close</i></span>
                    <p>{{city.city_brief}}</p>
                    <a href="{{url_for('city_page', city_id = city._id)}}">
                        <p>Read More</p>
                    </a>
                </div>
                {%endif%}{%endfor%}
            </div>
            {%endfor%}
        </div>
    </div>
</div>



<!-- Content -->
<div class="clearfix">
    <div class="row">
        <div>
            <h3>Europe</h3>
            <div class="card_container">
                <div class="row">
                    {%for city in cities%} {%if city.city_region == 'Europe'%}
                    <div class="col s6 m4 l3 card_col">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator img_card" src="{{city.city_image}}">
                                <a href="{{url_for('city_page', city_id = city._id)}}"> <span class="card-title city_card_title">{{city.city_name}}</span></a>
                            </div>
                        </div>
                    </div>
                    {%endif%} {%endfor%}
                </div>
            </div>
        </div>

        <div>
            <h3>North America & Canada</h3>
            <div class="col s12">
                <div class="row">
                    {%for city in city_named%} {%if city.city_region == 'North America & Canada'%}
                    <div class="col s6 m4 l3 card_col">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator img_card" src="{{city.city_image}}">
                                <a href="{{url_for('city_page', city_id = city._id)}}"> <span class="card-title city_card_title">{{city.city_name}}</span></a>
                            </div>
                        </div>
                    </div>
                    {%endif%} {%endfor%}
                </div>
            </div>
        </div>

        <div>
            <h3>Asia</h3>
            <div class="col s12">
                <div class="row">
                    {%for city in city_2%} {%if city.city_region == 'Asia'%}
                    <div class="col s6 m4 l3 card_col">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator img_card" src="{{city.city_image}}">
                                <a href="{{url_for('city_page', city_id = city._id)}}"> <span class="card-title city_card_title">{{city.city_name}}</span></a>
                            </div>
                        </div>
                    </div>
                    {%endif%} {%endfor%}
                </div>
            </div>
        </div>

        <div>
            <h3>Central America & South America</h3>
            <div class="col s12">
                <div class="row">
                    {%for city in city_3%} {%if city.city_region == 'Central America & South America'%}
                    <div class="col s6 m4 l3 card_col">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator img_card" src="{{city.city_image}}">
                                <a href="{{url_for('city_page', city_id = city._id)}}"> <span class="card-title city_card_title">{{city.city_name}}</span></a>
                            </div>
                        </div>
                    </div>
                    {%endif%} {%endfor%}
                </div>
            </div>
        </div>

        <div>
            <h3>Australia & New Zeland</h3>
            <div class="col s12">
                <div class="row">
                    {%for city in city_4%} {%if city.city_region == 'Australia & New Zeland'%}
                    <div class="col s6 m4 l3 card_col">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator img_card" src="{{city.city_image}}">
                                <a href="{{url_for('city_page', city_id = city._id)}}"> <span class="card-title city_card_title">{{city.city_name}}</span></a>
                            </div>
                        </div>
                    </div>
                    {%endif%} {%endfor%}
                </div>
            </div>
        </div>

        <div>
            <h3>Africa & The Middle East</h3>
            <div class="col s12">
                <div class="row">
                    {%for city in city_5%} {%if city.city_region == 'Africa & The Middle East' %}
                    <div class="col s6 m4 l3 card_col">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator img_card" src="{{city.city_image}}">
                                <a href="{{url_for('city_page', city_id = city._id)}}"> <span class="card-title city_card_title">{{city.city_name}}</span></a>
                            </div>
                        </div>
                    </div>
                    {%endif%} {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
