{% extends 'base.html' %} {% block content %}

<!-- Carousel -->
<div class="carousel_section">
    <p class="index_header">Where are you going next?</p>
    <div class="carousel_container">
        <div class="carousel carousel-slider">
            {%for images in cities_carousel %} {%if url_image == url %}
            <a href="{{url_for( 'city_page', city_id=images._id)}}" class="carousel-item" href="#one!"><img src="{{images.city_image}}"></a> {%endif%}{%endfor%}
        </div>
    </div>
</div>

<!-- Content -->
<div class="clearfix ">
    <div class="row ">
        <div>
            <p class="index_header">Europe</p>
            <div class="card_container ">
                <div class="row ">
                    <!-- Set [0:24] to show only the last 8 elements - bug: it seem that each city occupy 3 spaces -->
                    {%for city in cities[0:12] %} {%if city.city_region == 'Europe'%}
                    <div class="col s6 m4 l3 card_col ">
                        <div class="card ">
                            <div class="card-image waves-effect waves-block waves-light ">
                                <a href="{{url_for( 'city_page', city_id=city._id)}} ">
                                    <img class="activator img_card " src="{{city.city_image}} ">   
                                <span class="card-title city_card_title ">{{city.city_name}}</span></a>
                            </div>
                        </div>
                        <div class="referite_btn_row">
                            <a href="{{url_for('add_to_preferite', city_name=city.city_name)}}" class="preferite_btn"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                    {%endif%} {%endfor%}
                </div>
            </div>
        </div>

        <div class="discover_all">
            <a href="{{url_for('cities_for_regions', city_region='Europe')}}" class="waves-effect waves-light btn-large discover_all_btn">Discover All Europe Destinations</a>
        </div>

        <div>
            <p class="index_header">North America & Canada</p>
            <div class="col s12 ">
                <div class="row ">
                    {%for city in city_named[0:24]%} {%if city.city_region == 'North America & Canada'%}
                    <div class="col s6 m4 l3 card_col ">
                        <div class="card ">
                            <div class="card-image waves-effect waves-block waves-light ">
                                <a href="{{url_for( 'city_page', city_id=city._id)}} "> 
                                <img class="activator img_card " src="{{city.city_image}} ">
                                <span class="card-title city_card_title ">{{city.city_name}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {%endif%} {%endfor%}
                </div>
            </div>
        </div>

        <div class="discover_all">
            <a href="{{url_for('cities_for_regions', city_region='North America & Canada')}}" class="waves-effect waves-light btn-large discover_all_btn">Discover All North America & Canada Destinations</a>
        </div>

        <div>
            <p class="index_header">Asia</p>
            <div class="col s12 ">
                <div class="row ">
                    {%for city in city_2[0:24]%} {%if city.city_region == 'Asia'%}
                    <div class="col s6 m4 l3 card_col ">
                        <div class="card ">
                            <div class="card-image waves-effect waves-block waves-light ">
                                <a href="{{url_for( 'city_page', city_id=city._id)}} ">
                                <img class="activator img_card " src="{{city.city_image}} ">
                                 <span class="card-title city_card_title ">{{city.city_name}}</span>
                                 </a>
                            </div>
                        </div>
                    </div>
                    {%endif%} {%endfor%}
                </div>
            </div>
        </div>

        <div class="discover_all">
            <a href="{{url_for('cities_for_regions', city_region='Asia')}}" class="waves-effect waves-light btn-large discover_all_btn">Discover All Asia Destinations</a>
        </div>

        <div>
            <p class="index_header">Central America & South America</p>
            <div class="col s12 ">
                <div class="row ">
                    {%for city in city_3[0:24]%} {%if city.city_region == 'Central America & South America'%}
                    <div class="col s6 m4 l3 card_col ">
                        <div class="card ">
                            <div class="card-image waves-effect waves-block waves-light ">
                                <a href="{{url_for( 'city_page', city_id=city._id)}} ">
                                <img class="activator img_card " src="{{city.city_image}} ">
                                 <span class="card-title city_card_title ">{{city.city_name}}</span>
                                 </a>
                            </div>
                        </div>
                    </div>
                    {%endif%} {%endfor%}
                </div>
            </div>
        </div>

        <div class="discover_all">
            <a href="{{url_for('cities_for_regions', city_region='Central America & South America')}}" class="waves-effect waves-light btn-large discover_all_btn">Discover All Central America & South America Destinations</a>
        </div>

        <div>
            <p class="index_header">Australia & New Zeland</p>
            <div class="col s12 ">
                <div class="row ">
                    {%for city in city_4[0:24]%} {%if city.city_region == 'Australia & New Zeland'%}
                    <div class="col s6 m4 l3 card_col ">
                        <div class="card ">
                            <div class="card-image waves-effect waves-block waves-light ">
                                <a href="{{url_for( 'city_page', city_id=city._id)}} ">
                                <img class="activator img_card " src="{{city.city_image}} ">
                                 <span class="card-title city_card_title ">{{city.city_name}}</span>
                                 </a>
                            </div>
                        </div>
                    </div>
                    {%endif%} {%endfor%}
                </div>
            </div>
        </div>

        <div class="discover_all">
            <a href="{{url_for('cities_for_regions', city_region='Australia & New Zeland')}}" class="waves-effect waves-light btn-large discover_all_btn">Discover All Australia & New Zeland Destinations</a>
        </div>

        <div>
            <p id="name_of_region" class="index_header">Africa & The Middle East</p>
            <div class="col s12 ">
                <div class="row">
                    {%for city in city_5[0:24]%} {%if city.city_region == 'Africa & The Middle East' %}
                    <div class="col s6 m4 l3 card_col ">
                        <div class="card ">
                            <div class="card-image waves-effect waves-block waves-light ">
                                <a href="{{url_for( 'city_page', city_id=city._id)}} ">
                                <img class="activator img_card " src="{{city.city_image}} ">
                                 <span class="card-title city_card_title ">{{city.city_name}}</span>
                                 </a>
                            </div>
                        </div>
                    </div>
                    {%endif%} {%endfor%}
                </div>
            </div>
        </div>
        <div class="discover_all">
            <a href="{{url_for('cities_for_regions', city_region='Africa & The Middle East')}}" class="waves-effect waves-light btn-large discover_all_btn">Discover All Africa & Middle East Destinations</a>
        </div>
    </div>
</div>

{% endblock %}
