{% extends 'base.html' %} {% block content %} {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endwith %}

{% if session['logged_in']%}
<h1> You are alreade logged in, please go to the Home Page</h1>
{%else%}
<div class="content_login">
    <div id="loginform" class="login_row col s12">
        <form class="login_form" action="/login" method="POST" novalidate>
            <i class="material-icons prefix">account_circle</i>
            <div class="input-field">
                <input id="username" name="username" type="text">
                <label id="label_username" for="icon_telephone">Username</label>
            </div>
            <i class="material-icons">vpn_key</i>
            <div class="input-field">
                <input id="password" name="password" type="text" >
                <label for="icon_telephone">Password</label>
            </div>
            <div>
                <button id="loginbtn" class="btn waves-effect waves-light" type="submit" name="action">Log In!</button>
            </div>
        </form>
        <div>
            <p>Are you not one of us? <a href="{{url_for('register')}}">Register Now</a></p>
        </div>
    </div>
</div>
{%endif%}
{% endblock %}
