{% extends 'base.html' %} {% block content %}

<h3>You are looking for: {{search_city|capitalize}}</h3>

<div class="col s12">
    <div class="row">
        {% if count_cities == 0 %}
        <div class="search_page">
            <p>We are sorry, the city you are looking for is not in the system yet.</p>
            <p>Why don't you add it?</p>
            <p><a href="{{url_for('register')}}">Register</a> and add a city now! We will be glad to have you on board!</p>
        </div> {% else %} {%for city in cities%} {% if city.city_name == search_city %}
        <div class="col s6 m4 l3 card_col">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator img_card" src="{{city.city_image}}">
                    <a href="{{url_for('city_page', city_id = city._id)}}"> <span class="card-title city_card_title">{{city.city_name}}</span></a>
                </div>
            </div>
        </div>
        {%endif%} {%endfor%} {%endif%}
    </div>
</div>


{% endblock%}
