{% extends 'base.html' %} {% block content %}

<h3>You are looking for: {{search_city|capitalize}}</h3>

<div class="col s12">
    <div class="row">
        {% if count_cities == 0 %}
        <div class="search_page">
            <p>We are sorry, the city you are looking for is not in the system yet.</p>
            <p>Why don't you add it?</p>
            {% if session['logged_in'] == True%}
            <p><a href="{{url_for('add_city')}}">Add a new city now!</a></p>
            {%else%}
            <p><a href="{{url_for('register')}}">Register</a> and add a city now! We will be glad to have you on board!</p>
            {%endif%}
        </div> {% else %} {%for city in cities%} {% if city.city_name == search_city %}
        <div class="col s6 m4 l3 card_col">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator img_card" src="{{city.city_image}}">
                    <a href="{{url_for('city_page', city_id = city._id)}}"> <span class="card-title city_card_title">{{city.city_name}}</span></a>
                </div>
            </div>
            <div class="card_action">
                <div class="add_row">
                    <a href="{{url_for('add_to_preferite', city_name=city.city_name)}}" class="preferite_btn tooltipped" data-position="bottom" data-tooltip="Add to 'Preferite'"><i class="far fa-heart"></i></a>
                </div>
                <div class="add_row">
                    <a href="{{url_for('add_to_visit', city_name=city.city_name)}}" class="add_to_visit_btn tooltipped" data-position="bottom" data-tooltip="Add to 'To Visit'"><i class="far fa-plus-square"></i></a>
                </div>
                <div class="add_row">
                    <a href="{{url_for('add_to_visited', city_name=city.city_name)}}" class="add_visited_btn tooltipped" data-position="bottom" data-tooltip="Add to 'Visited'"><i class="far fa-check-circle"></i></a>
                </div>
            </div>
        </div>
        {%endif%} {%endfor%} {%endif%}
    </div>
</div>


{% endblock%}
