{% extends 'base.html' %} {% block content %} 

<!-- Alert Messagge-->
{% with messages = get_flashed_messages() %} {% if messages %}
<div class="container">
    <div class="alert_messagge">
        {% for message in messages %}
        <p class="alert_messagge_header">{{ message }}</p>
        {% endfor %}
    </div>
</div>
{% endif %} {% endwith %}

<!-- If user not Logged in-->
{% if session['logged_in']%}
<h3> You are already a user, please go to the Home Page</h3>
{%else%}

<!-- Main content if user is Logged in-->
<div class="content_login">
    <form class="login_form" action="{{url_for('get_user_data')}}" method="POST" novalidate>
        <div class="row">
            <div id="loginform" class="login_area col s12 ">
                <div class="login_row">
                    <i class="material-icons prefix">account_circle</i>
                    <div class="">
                        <label>Username (max 12 caracters)</label>
                        <input id="username" name="username" type="text" class="validate" required maxlength="12">
                    </div>
                    <i class="material-icons prefix">email</i>
                    <div class="">
                        <label>Email Address</label>
                        <input id="email" name="email" type="email" class="validate" required>
                    </div>
                    <i class="material-icons">vpn_key</i>
                    <div class="">
                        <label>Password</label>
                        <input id="password" name="password" type="password" class="validate" required>
                    </div>
                    <div>
                        <button id="loginbtn" class="btn waves-effect waves-light btn_personal" type="submit" name="action">Sign Up!</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{%endif%} {% endblock %}
