{% extends 'base.html' %} {% block content %} {% if session['logged_in']%}
<h3> You are already a user, please go to the Home Page</h3>
{%else%}

<div class="content_login">
    <form class="login_form" action="{{url_for('get_user_data')}}" method="POST" novalidate>
        <div class="row">
            <div id="loginform" class="login_area col s12 ">
                <div class="login_row">
                    <i class="material-icons prefix">account_circle</i>
                    <div class="">
                        <label for="icon_prefix">Username</label>
                        <input id="username" name="username" type="text" class="validate">
                    </div>
                    <i class="material-icons prefix">email</i>
                    <div class="">
                        <label for="icon_telephone">Email Address</label>
                        <input id="email" name="email" type="text" class="validate">
                    </div>
                    <i class="material-icons">vpn_key</i>
                    <div class="">
                        <label for="icon_telephone">Password</label>
                        <input id="password" name="password" type="text" class="validate">
                    </div>
                    <div>
                        <button id="loginbtn" class="btn waves-effect waves-light btn_personal" type="submit" name="action">Sign Up!</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{%endif%} {% endblock %}
