{% extends 'base.html' %} {% block content %} {% if session['logged_in'] == False %}

<h3>We are sorry, but only Travel Around Users can see users info.</h3>

{% else %}

<div class="user_page_header">
    <div class="row">
        <div class="">
            <h3>Explore our users profiles.</h3>
        </div>
    </div>
</div>

<div class="row">

    {%for user in users %}
    <div class="col s3 m2 xl1">
        <a href="{{url_for('userpublicpage', user_id=user._id)}}">
            <div class="username_card">
                <img src="{{ url_for('static', filename='img/user_logo.png') }}" class="user_icon_img" alt="User Icon">
                <span class="card-title city_card_title">{{user.username}}</span>
            </div>
        </a>
    </div>
    {%endfor%}

</div>

{%endif%} {% endblock%}
