{% extends 'base.html' %} {% block content %}

<!-- Alert Messagge-->
{% with messages = get_flashed_messages() %} {% if messages %}
<div class="container">
    <div class="alert_messagge">
        {% for message in messages %}
        <p class="alert_messagge_header">{{ message }}</p>
        {% endfor %}
    </div>
</div>
{% endif %} {% endwith %}

<!-- Main Content-->
<div class="user_page_header">
    <div class="row">
        <div class="">
            <h3 class="index_header">{{session.username}}</h3>
            <p class="title center">Cities made: {{user_logged.cities_made|count}}</p>
        </div>
    </div>
</div>

<!-- User Nav Bar-->
<nav class="nav_userpage">
    <div class="row row_user_nav">
        <div class="nav-wrapper">
            <ul>
                <li id="made_li" class="col s6 m3 user_nav made_selected"> <a onClick="change_contents_made();">Made</a></li>
                <li id="to_visit_li" class="col s6 m3 user_nav"> <a onClick="change_contents_to_visit();">To Visit</a></li>
                <li id="visited_li" class="col s6 m3 user_nav"> <a onClick="change_contents_visited();">Visited</a></li>
                <li id="preferite_li" class="col s6 m3 user_nav"> <a onClick="change_contents_preferite();">Preferite</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--Made Section-->
<div id="made">
    <div class="user_page_header">
        <div class="row">
            <div class="">
            </div>
        </div>
    </div>
    <div class="row">
        {%for city in cities%} {% if city.city_author == session.username %}
        <div class="col s6 m4 l3 col_card">
            <div class="card card_bg" style="background-image: url({{city.city_image}})">
                <a href="{{url_for('city_page', city_id = city._id)}}">
                    <div class="card-image waves-effect waves-block waves-light">
                        <span class="card-title city_card_title">{{city.city_name}}</span>
                    </div>
                </a>
            </div>
            <div class="user_commands">
                <div class="edit_btn">
                    <a href="{{url_for('edit_city', city_id=city._id)}}" class="waves-effect waves-light btn btn_small blue btn_personal">Edit</a>
                </div>
            </div>
        </div>
        {%endif%} {%endfor%}
    </div>
</div>

<!-- To Visit section-->
<div id="to_visit">
    <div class="user_page_header">
        <div class="row">
            <div class="">
            </div>
        </div>
    </div>
    <div class="row">
        {% for city in cities_to_visit %} {%for item in user_logged.city_to_visit %} {%if city.city_name == item %}
        <div class="col s6 m4 l3 col_card">
            <div class="card card_bg" style="background-image: url({{city.city_image}})">
                <a href="{{url_for('city_page', city_id = city._id)}}">
                    <div class="card-image waves-effect waves-block waves-light">
                        <span class="card-title city_card_title">{{city.city_name}}</span>
                    </div>
                </a>
            </div>
            <div class="edit_btn_row">
                <a href="{{url_for('remove_to_visit', city_name=city.city_name, city_id=city._id)}}" class="waves-effect waves-light btn btn_small btn_personal">Remove</a>
            </div>
        </div>
        {%endif%} {%endfor%} {%endfor%}
    </div>
</div>

<!--Visited-->
<div id="visited">
    <div class="user_page_header">
        <div class="row">
            <div class="">
            </div>
        </div>
    </div>
    <div class="row">
        {% for city in cities_visited %} {%for item in user_logged.city_visited %} {%if city.city_name == item %}
        <div class="col s6 m4 l3 col_card">
            <div class="card card_bg" style="background-image: url({{city.city_image}})">
                <a href="{{url_for('city_page', city_id = city._id)}}">
                    <div class="card-image waves-effect waves-block waves-light">
                        <span class="card-title city_card_title">{{city.city_name}}</span>
                    </div>
                </a>
            </div>
            <div class="edit_btn_row">
                <a href="{{url_for('remove_visited', city_name=city.city_name, city_id=city._id)}}" class="waves-effect waves-light btn btn_small btn_personal">Remove</a>
            </div>
        </div>
        {%endif%} {%endfor%}{%endfor%}
    </div>
</div>

<!--Preferite Location-->
<div id="preferite">
    <div class="user_page_header">
        <div class="row">
            <div class="">
            </div>
        </div>
    </div>
    <div class="row">
        {% for city in cities_preferite %} {%for item in user_logged.preferite_cities %} {%if city.city_name == item %}
        <div class="col s6 m4 l3 col_card">
            <div class="card card_bg" style="background-image: url({{city.city_image}})">
                <a href="{{url_for('city_page', city_id = city._id)}}">
                    <div class="card-image waves-effect waves-block waves-light">
                        <span class="card-title city_card_title">{{city.city_name}}</span>
                    </div>
                </a>
            </div>
            <div class="edit_btn_row">
                <a href="{{url_for('remove_preferite', city_name=city.city_name, city_id=city._id)}}" class="waves-effect waves-light btn btn_small btn_personal"><i class="fas fa-heart-broken"></i></a>
            </div>
        </div>
        {%endif%} {%endfor%}{%endfor%}
    </div>
</div>

<!-- Delete User Buttons-->
{% if session['logged_in'] == True %}
<div class="row">
    <div class="edit_btn_float_right">
        <div class="edit_btn_float_right">
            <a class="waves-effect waves-light btn red modal-trigger btn_personal" href="#modal1">Delete Account</a>
        </div>
    </div>
</div>
{%endif%}

<!-- Modal Delete Account-->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Be Careful</h4>
        <p>This option can't be undone!</p>
        <p>To delete your account please type "delete"</p>
    </div>
    <form id="delete_input">
        <div class="input-field col s6">
            <input id="confirm_delete_account" name="confirm_delete_account" data-length="10">
            <label for="input_text">Type Here "delete"</label>
            <a id="check_delete_account" name="" class="waves-effect waves-light btn btn_personal" onClick="verification_form();">Check</a>
        </div>
    </form>
    <div>
        <div class="modal-footer">
            <div id="hidden_delete_btn" class="hidden_option">
                <a href="#!" class="modal-action modal-close waves-effect waves-light btn blue btn_small btn_personal">Go Back!</a>
                <a href="{{url_for('delete_user', user_id=user_logged._id)}}" class="waves-effect waves-light btn btn_small red btn_personal">Delete Account</a>
            </div>
        </div>
    </div>
</div>

{% endblock%}
