{% extends 'base.html' %} {% block content %}

<div class="user_page_header">
    <div class="row">
        <div class="">
            <h3 class="index_header">{{user.username}}</h3>
            <p class="title center">Cities made: {{user.cities_made|count}}</p>
        </div>
    </div>
</div>

<!-- User Nav Bar-->
<nav class="nav_userpage">
    <div class="row row_user_nav">
        <div class="nav-wrapper">
            <ul>
                <li id="made_li" class="col s6 m3 user_nav made_selected"> <a onClick="change_contents_made();">Made</a></li>
                <li id="to_visit_li" class="col s6 m3 user_nav"> <a onClick="change_contents_to_visit();">To Visit</a></li>
                <li id="visited_li" class="col s6 m3 user_nav"> <a onClick="change_contents_visited();">Visited</a></li>
                <li id="preferite_li" class="col s6 m3 user_nav"> <a onClick="change_contents_preferite();">Preferite</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--Made Section-->
<div id="made">
    <div class="user_page_header">
        <div class="row">
            <div class="">
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="row">
            {%for city in cities%} {% if city.city_author == user.username %}
            <div class="col s6 m4 l3 card_col">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="{{url_for('city_page', city_id = city._id)}}">
                    <img class="activator img_card" src="{{city.city_image}}">
                     <span class="card-title city_card_title">{{city.city_name}}</span>
                     </a>
                    </div>
                </div>
            </div>
            {%endif%} {%endfor%}
        </div>
    </div>
</div>

<!-- To Visit section-->
<div id="to_visit">
    <div class="user_page_header">
        <div class="row">
            <div class="">
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="row">
            {% for city in cities_to_visit %} {%for item in user.city_to_visit %} {%if city.city_name == item %}
            <div class="col s6 m4 l3 card_col">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="{{url_for('city_page', city_id = city._id)}}">
                    <img class="activator img_card" src="{{city.city_image}}">
                    <span class="card-title city_card_title">{{city.city_name}}</span>
                    </a>
                    </div>
                </div>
            </div>
            {%endif%} {%endfor%} {%endfor%}
        </div>
    </div>
</div>

<!--Visited-->
<div id="visited">
    <div class="user_page_header">
        <div class="row">
            <div class="">
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="row">
            {% for city in cities_visited %} {%for item in user.city_visited %} {%if city.city_name == item %}
            <div class="col s6 m4 l3 card_col">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="{{url_for('city_page', city_id = city._id)}}">
                    <img class="activator img_card" src="{{city.city_image}}">
                    <span class="card-title city_card_title">{{city.city_name}}</span>
                    </a>
                    </div>
                </div>
            </div>
            {%endif%} {%endfor%} {%endfor%}
        </div>
    </div>
</div>

<!--Preferite Location-->
<div id="preferite">
    <div class="user_page_header">
        <div class="row">
            <div class="">
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="row">
            {% for city in cities_preferite %} {%for item in user.preferite_cities %} {%if city.city_name == item %}
            <div class="col s6 m4 l3 card_col">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="{{url_for('city_page', city_id = city._id)}}">
                    <img class="activator img_card" src="{{city.city_image}}">
                    <span class="card-title city_card_title">{{city.city_name}}</span>
                    </a>
                    </div>
                </div>
            </div>
            {%endif%} {%endfor%}{%endfor%}
        </div>
    </div>
</div>

<!-- Delete User Buttons-->
{% if session['logged_in'] and user_logged.right == 'admin' %}
<div class="row">
    <div class="edit_btn_float_right">
        <div class="edit_btn_float_right">
            <a class="waves-effect waves-light btn red modal-trigger btn_personal" href="#modal1">Delete Account</a>
        </div>
    </div>
</div>
{%endif%}


<!-- Modal Delete Account-->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Be Careful</h4>
        <p>This option can't be undone!</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-light btn blue btn_small btn_personal">Go Back!</a>
            <a href="{{url_for('delete_user', user_id=user._id)}}" class="waves-effect waves-light btn btn_small red btn_personal">Delete Account</a> 
    </div>
</div>


{% endblock%}
