{% extends 'base.html' %} {% block content %} {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endwith %}

<div class="user_page_header">
    <div class="row">
        <div class="">
            <h3>Welcome, {{session.username}} <span><a href="{{url_for('logout')}}" class="waves-effect waves-light btn btn_personal"><i class="material-icons right">cloud</i>Log Out</a></span></h3>
        </div>
    </div>
</div>
<div>
    <h5>Here you can manage all the cities you made </h5> 
    <p>Tot cities made: {{tot_cities}}</p>
</div>



<div class="col s12">
    <div class="row">
        {%for city in cities%} {% if city.city_author == session.username %}
        <div class="col s6 m4 l3 card_col">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator img_card" src="{{city.city_image}}">
                    <a href="{{url_for('city_page', city_id = city._id)}}"> <span class="card-title city_card_title">{{city.city_name}}</span></a>
                </div>
            </div>
        </div>
        {%endif%} {%endfor%}
    </div>
</div>


{% endblock%}
